
body > .container-fluid {
	max-width: 50rem;
}

h2 {
	font-size: 2rem;
	margin-top: 1.6rem;
}
h3 {
	font-size: 1.25rem;
}

#templates {
	display: none;
}

/* override Bootstrap */
dd {
	margin-left: 1.5rem;
}

dt.ok:after {
	content: '✔';
	color: green;
}
dt.warn:after {
	content: '⚠';
	color: orange;
	font-weight: bold;
}
dt.fail:after {
	content: '✖';
	color: red;
}
dt.none:after {
	content: '?';
	color: gray;
}
dt.off:after {
	content: '➖';
	color: blue;
	font-weight: bold;
}

#report h3:before,
#report h3:before {
	font-size: 1.75rem;
	float: left;
	line-height: 1;
}
#report h3.ok:before {
	content: '✔';
	color: green;
}
#report h3.warn:before {
	content: '⚠';
	color: orange;
	font-weight: bold;
}
#report h3.fail:before {
	content: '✖';
	color: red;
}
#report h3.loading:before {
	content: '⚙';
	color: gray;
	animation: spin 4s linear infinite;
}
#report h3.none:before {
	content: '?';
	color: gray;
}
#report h3:after {
	content: "";
	display: block;
	clear: both;
}
#report h3 div,
#report h3 div {
	margin-left: 2rem;
	line-height: 2rem;
}

@keyframes spin {
	100% {
		transform:rotate(360deg);
	}
}
