
body > .container-fluid {
	max-width: 50rem;
}

#templates {
	display: none;
}

/* override Bootstrap */
dd {
	margin-left: 1.5rem;
}

#report dt.ok:after {
	content: '✔';
	color: green;
}
#report dt.fail:after {
	content: '✖';
	color: red;
}

#report h3:before,
#report h3:before {
	font-size: 48px;
	float: left;
	line-height: 1;
}
#report h3.ok:before {
	content: '✔';
	color: green;
}
#report h3.warn:before {
	content: '⚠';
	color: orange;
	font-weight: bold;
}
#report h3.fail:before {
	content: '✖';
	color: red;
}
#report h3.loading:before {
	content: '⚙';
	color: gray;
	animation: spin 4s linear infinite;
}
#report h3:after {
	content: "";
	display: block;
	clear: both;
}
#report h3 div,
#report h3 div {
	margin-left: 48px;
	line-height: 48px;
}

@keyframes spin {
	100% {
		transform:rotate(360deg);
	}
}
